version: 2.1

orbs:
  node: circleci/node@6.1.0

workflows:
  test:
    jobs:
      - node/test:
          name: test-node-18
          version: '18.20'
      - node/test:
          name: test-node-20
          version: '20.11'
      - node/test:
          name: test-node-22
          version: '22.0'
